.post {
    .post-header {
        margin-left: 2rem;
        margin-bottom: 10px;
        border-bottom: 1px solid #efefef;
        .post-title {
            font-size: 1.8rem;
            line-height: 100%;
            text-transform: uppercase;
            padding: 1.5rem 2rem 0 0;
            color: #333;
        }
        .post-meta {
            padding: 1rem 0;
            font-size: 1rem;
            color: #888;
        }
    }
    .markdown-body {
        margin:0 2rem;
    }
    
}


.comment-item {
    padding: 1rem 2rem 1rem 0;
    margin-left: 2rem;

    border-bottom: 1px solid #efefef;
    .comment-header {
        font-size: .9rem;
        span {
            color: #4ba96a;
            margin-right: 5px;
            a{
                color: #4ba96a;
            }
        }
    }
    .Comment-content {
        font-size: 1rem;
        line-height: 110%;
        padding:.5rem 1rem 1rem;
    }
    .Comment-footer {
        width: 40%;
        margin-left: 55%;
        font-size: .8rem;
        text-align: right;
        em {
            margin:0 5px;
        }
        a {
            color: #555555;
        }
    }
}



@media only screen and ( max-width: 768px ){
    .post {
        .post-header {
            margin-left: 0rem;
            .post-title {
                text-align: center;
                padding-top: 1rem;
            }
            .post-meta {
                text-align: center;
            }
        }
    }
    .comment-item {
        padding: 1rem;
        .Comment-footer {
            width: 100%;
            margin-left: 0;
            a,em {
                display: none;
            }
        }
    }
}