<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<link rel='stylesheet' href='stylesheets/bootstrap.css' />
	<style type="text/css">
		body {
			padding-top: 60px;
			padding-bottom: 40px;
		}
		
	</style>
	<link href="stylesheets/bootstrap-responsive.css" rel="stylesheet">
	<link href="stylesheets/style.css" rel="stylesheet">
	<meta charset="UTF-8">
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="/admin/">Allen - 抹茶小屋</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li class="active"><a href="/admin/">首页</a></li>
						<% if (!user) { %>
						<li><a href="/admin/login">登录</a></li>
						<li><a href="/admin/reg">注册</a></li>
						<% } else { %>
						<li><a href="/admin/logout">退出</a></li>
						<% } %>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="container" class="container">

		<% if (success) { %>
		<div class="alert alert-success">
			<%= success %>
		</div>
		<% } %>
		<% if (error) { %>
		<div class="alert alert-error">
			<%= error %>
		</div>
		<% } %>
		<%- body %>
		<hr />
		
	</div>
	
</body>
<script src="javascripts/jquery.js"></script>
<script src="javascripts/bootstrap.js"></script>
</html>